<div class="relative h-screen">
  <div class="container mx-auto px-3 h-full">
    <div class="w-1/2 grid content-center h-full">
      <div class="w-11/12">
        <h1 class="text-8xl font-bold mb-10" data-aos="fade-down">
          Abiyah <span
            class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-blue-500 relative inline-block"
            ><span class="relative text-white">Kristi</span></span
          >
        </h1>
        <p class="text-xl text-gray-500 mb-8" data-aos="fade-right">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A earum modi
          saepe eum eveniet amet perferendis? Quas expedita aperiam tempora.
        </p>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          data-aos="fade-up"
        >
          Get started
        </button>
      </div>
    </div>
  </div>
  <div
    class="absolute top-0 right-0 bottom-0 w-2/4 bg-hero-image bg-cover bg-center"
  >
  </div>
</div>
